<form action="{% url 'polls:vote' question.id question_type|slugify %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        {% if question.get_question_type == "Multiple Choice" %}
            {% for choice in question.choices.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        {% elif question.get_question_type == "True/False" %}
            <input type="radio" name="answer" id="true" value="true">
            <label for="true">True</label><br>
            <input type="radio" name="answer" id="false" value="false">
            <label for="false">False</label><br>
        {% endif %}
    </fieldset>
    <input type="submit" value="Vote">
</form>
